<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus dados</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i>Emails não conferem</span>
        </div>

        <div class="col-sm-6 col-xs-12">
          <mt-input errorMessage="Campo obrigatório e com no mínimo 5 caracteres" label="Nome">
            <input class="form-control" placeholder="Nome" formControlName="name" autocomplete="off">
          </mt-input>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input errorMessage="Email inválido" label="Email">
            <input class="form-control" placeholder="Email" formControlName="email" autocomplete="off">
          </mt-input>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input errorMessage="Email inválido" label="Confirmação">
            <input class="form-control" placeholder="Confirmação" formControlName="emailConfirmation" autocomplete="off">
          </mt-input>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input errorMessage="Campo obrigatório e com no mínimo 5 caracteres" label="Endereço">
            <input class="form-control" placeholder="Endereço" formControlName="address" autocomplete="off">
          </mt-input>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input errorMessage="Obrigatório e somente números" label="Número">
            <input class="form-control" placeholder="Número" formControlName="number" autocomplete="off">
          </mt-input>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input>
              <input type="text" class="form-control" formControlName="optionalAddress" autocomplete="off" placeholder="Complemento">
          </mt-input>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        
        <mt-order-items [items]="cartItems()" (increaseQuantity)="increaseQuantity($event)"
        (decreaseQuantity)="decreaseQuantity($event)"
        (removeItem)="removeItem($event)"></mt-order-items>

      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
          </div>

        </div>
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></mt-delivery-costs>
        </div>
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="saveOrder(orderForm.value)" class="btn btn-success pull-right" [disabled]="!orderForm.valid || cartItems().length === 0"><i class="fa fa-credit-card"></i> Concluir Pedido</button>
      </div>
    </div>

  </section>
</section>